$white-1: #FFFFFF;
$white-2: #F4F4F4;
$white-3: #DEDEDE;
$yellow:#FDDA24;
$black-1: #000;
$black-2: rgba(0, 0, 0, 0.25);
$black-3: rgba(0, 0, 0, 0.5);
$gray-1: #606061;
$gray-2: #2C2A29;
$gray-3: #BCBDC0;


