<div>
    <table class="table">
        <thead class="thead">
            <tr>
                <th class="col1">#</th>
                <th class="col2">Símbolo</th>
                <th class="col3">Nombre</th>
                <th class="col4">Tasa de Cambio</th>
                <th class="col5"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col1">
                    1
                </td>
                <td class="col2">
                    <p>BTC</p>
                </td>
                <td class="col3">
                    <p>Bitcoin</p>
                </td>
                <td class="col4">
                    <p>$61,169.02</p>
                </td>
                <td class="col5">
                    <a href=""><img src="../../../../assets/editar.png" alt=""></a>
                    <a href=""><img src="../../../../assets/basura.png" alt=""></a>
                </td>
            </tr>
        </tbody>
    </table>

    
</div>